extends ./_include/_layout.pug

block head 
    include ./_include/_head.pug
block header  
    include ./_include/_header.pug
block content 
    .content 
        h1.title ページタイトル
block footer 
    include ./_include/_footer.pug