doctype html
html(lang="ja")
    //- 継承先のファイルで同名のブロックがある場合には上書きされる
    block head
        head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title デフォルトのタイトルです
    body 
        //- 継承先のファイルで同名のブロックがある場合には上書きされる
        block header
            header.header 
                p.logo デフォルトのヘッダーです 
        //- 継承先のファイルで同名のブロックがある場合には上書きされる
        block content 
            .content 
                p デフォルトのコンテンツです
        //- 継承先のファイルで同名のブロックがある場合には上書きされる
        block footer 
            footer.footer 
                p デフォルトのフッターです